bootstrap/ansible/cfg/secrets*.yaml
sealed-secrets-keys.yaml
config.yaml
*.crt
*.key
*.srl
*.csr

/volsync-seal.sh

/*.yaml
!devfile.yaml
/*.json
/bootstrap/ansible/inventories/.proxmox.yaml
/bootstrap/ansible/inventories/hosts.yaml
/tmp
/bootstrap/talos/*.yaml
/bootstrap/talos/talosconfig