bootstrap/ansible/cfg/secrets*.yaml
sealed-secrets-keys.yaml
config.yaml
*.crt
*.key
*.srl
*.csr

/*.yaml
/*.json
/bootstrap/ansible/inventories/.proxmox.yaml
/bootstrap/ansible/inventories/hosts.yaml
/tmp