apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: web-terminal
  annotations:
    argocd.argoproj.io/sync-wave: "1"
    argocd.argoproj.io/compare-options: IgnoreExtraneous
  labels:
    gitops.ownedBy: cluster-config
spec:
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  project: cluster-config
  source:
    path: manifests/operator/web-terminal/overlays/default
    repoURL: https://github.com/pixeljonas/cluster-gitops.git
    targetRevision: feature/web-terminal
  syncPolicy:
    automated:
      prune: false
      selfHeal: true