apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: paperless-ng
  namespace: argocd
spec:
  destination:
    namespace: paperless
    server: 'https://kubernetes.default.svc'
  source:
    repoURL: 'https://k8s-at-home.com/charts/'
    targetRevision: 8.2.1
    chart: paperless
    helm:
      values: |-
        env:
          # -- Project name
          COMPOSE_PROJECT_NAME: paperless
          # -- Redis to use
          PAPERLESS_REDIS: redis://localhost:6379
          # -- OCR languages to install
          PAPERLESS_OCR_LANGUAGE: deu
          PAPERLESS_OCR_LANGUAGES: deu
          PAPERLESS_TIME_ZONE: Europe/Berlin
          PAPERLESS_CONSUMER_POLLING: 30
          PAPERLESS_OCR_DESKEW: true
          PAPERLESS_OCR_ROTATE_PAGES_THRESHOLD: 3

        controller:
          labels:
            kanister.kasten.io/inject-sidecar: "true"

        podLabels:
          kanister.kasten.io/inject-sidecar: "true"

        ingress:
          main:
            enabled: true
            ingressClassName: nginx
            pathType: Prefix
            hosts:
              - host: paperless.apps.hive.janz.digital
                paths:
                  - path: /
                    pathType: Prefix
            tls:
              - hosts:
                  - paperless.apps.hive.janz.digital

        persistence:
          data:
            enabled: true
            storageClass: rook-cephfs
            size: 3Gi
          media:
            enabled: true
            storageClass: rook-cephfs
            size: 10Gi
          export:
            enabled: true
            size: 1Gi

        additionalContainers:
          broker:
            name: broker
            image: redis:6.0
            imagePullPolicy: IfNotPresent

  project: cluster-apps
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true