apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cluster-config-manager
  labels:
    gitops.ownedBy: cluster-config
spec:
  destination:
    namespace: argocd-operator-system
    server: https://kubernetes.default.svc
  project: cluster-config
  source:
    path: environments/overlays/micro
    repoURL: https://github.com/pixeljonas/cluster-gitops.git
    targetRevision: master
  syncPolicy:
    automated:
      selfHeal: true
