apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mariadb-homeassistant-config
  annotations:
    argocd.argoproj.io/sync-wave: "31"
spec:
  destination:
    namespace: mariadb-homeassistant
    server: https://kubernetes.default.svc
  project: cluster-apps
  source:
    path: manifests/configs/mariadb-homeassistant/base
    repoURL: https://github.com/pixeljonas/cluster-gitops.git
    targetRevision: master
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
