apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: firefly-db
  namespace: openshift-gitops
  annotations:
    argocd.argoproj.io/sync-wave: "50"
spec:
  destination:
    namespace: firefly
    server: https://kubernetes.default.svc
  project: cluster-config
  source:
    repoURL: registry-1.docker.io/bitnamicharts
    chart: postgresql
    targetRevision: 18.2.3
    helm:
      values: |-
        volumePermissions:
          enabled: true
        global:
          storageClass: lvms-vg1
          postgresql:
            auth:
              username: firefly
              existingSecret: firefly-db-postgresql
              database: firefly

  syncPolicy:
    syncOptions:
      - CreateNamespace=true
