apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: openshift-cnv

bases:
  - https://github.com/redhat-canada-gitops/catalog/virtualization-operator/base?ref=master

patchesStrategicMerge:
  - openshift-virt-patch-version.yaml
