apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "32"
  name: vaultwarden
  namespace: argocd
spec:
  destination:
    namespace: vaultwarden
    server: 'https://kubernetes.default.svc'
  source:
    repoURL: 'https://k8s-at-home.com/charts/'
    targetRevision: 3.3.1
    chart: vaultwarden
    helm:
      values: |-

        controller:
          labels:
            kanister.kasten.io/inject-sidecar: "true"

        podLabels:
          kanister.kasten.io/inject-sidecar: "true"

        ingress:
          main:
            enabled: true
            ingressClassName: nginx
            pathType: Prefix
            hosts:
              - host: vaultwarden.apps.hive.janz.digital
                paths:
                  - path: /
                    pathType: Prefix
            tls:
              - hosts:
                  - vaultwarden.apps.hive.janz.digital

        persistence:
          config:
            enabled: true
            storageClass: local-path

  project: cluster-apps
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true