apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - "../../base"

patches:
  - target:
      group: argoproj.io
      version: v1alpha1
      kind: Application
    path: patch-vault-app.yaml
