apiVersion: v1
kind: Pod
metadata:
  name: demo-app
  labels:
    app: demo
spec:
  containers:
  - name: demo-container
    image: alpine:3.16
    resources:
        requests:
          memory: 256Mi
          cpu: 100m
    command: ["tail"]
    args: ["-f", "/dev/null"]
    volumeMounts:
    - name: data
      mountPath: /data
  volumes:
  - name: data
    persistentVolumeClaim:
      claimName: data-mariadb-homeassistant-chart-0
