apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana-operator
  annotations:
    argocd.argoproj.io/sync-wave: "11"
spec:
  ignoreDifferences:
    - group: integreatly.org
      kind: GrafanaDataSource
      name: prometheus
      jsonPointers:
        - /spec/datasources/0/secureJsonData/httpHeaderValue1
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  project: cluster-config
  source:
    path: manifests/operator/grafana/overlays/default
    repoURL: https://github.com/pixeljonas/cluster-gitops.git
    targetRevision: master
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
